.clear-none { clear: none }
.clear-left { clear: left }
.clear-right { clear: right }
.clear-both { clear: both }
.clear-start { clear: inline-start }
.clear-end { clear: inline-end }
.clear-start:dir(ltr) { clear: left }
.clear-start:dir(rtl) { clear: right }
.clear-end:dir(ltr) { clear: right }
.clear-end:dir(rtl) { clear: left }
.clear-after::after {
  content: "";
  display: block;
  clear: both;
}
